<!-- <mat-card>
    <mat-card-content>
        <mat-list role="list" *ngFor="let task of taskList">
            <mat-list-item role="listitem"
                    [style.background-color] = "task.color">
                   {{task.title}}
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card> -->
<!-- <mat-card *ngFor="let task of taskList">
    <span>{{task.title}}</span>
</mat-card> -->
<div class="main-card">
    <div class="taskboard-title">
        <h3>{{taskBoard?.title}}</h3>
    </div>
    <table class="mat-table" cellpadding="0" cellspacing="0">
        <tr>
            <th class="mat-header-cell mat-column-todo">To Do.</th>
            <th class="mat-header-cell mat-column-inprogress">In Progress.</th>
            <th class="mat-header-cell mat-column-completed">Completed.</th>
        </tr>
        <tr>
            <td>
                data1
            </td>
            <td>
               data2
            </td>
            <td>
               data3
            </td>
        </tr>

    </table>
</div>